<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	
		<div class="container-md">
		
		<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">title</th>
				<th scope="col">writer</th>
				<th scope="col">Reg At</th>
				<th scope="col">Mod At</th>
				
			</tr>
		</thead>
		<tbody>
			<th:bolck th:each="list : ${list}">
				<tr>
					<th scope="row" th:text="${list.bno}"></th>
					<td><a th:href="@{/board/detail(bno=${list.bno})}" th:text="${list.title}"></a></td>
					<td th:text="${list.writer}"></td>
					<td th:text="${list.regAt}"></td>
					<td th:text="${list.modAt}"></td>
				</tr>
			</th:bolck>
		</tbody>
	</table>
		<!-- 페이지네이션 -->
		
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <li th:if="${ph.prev}" class="page-item">
		      <a class="page-link" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    
		    <li th:each="i:${#numbers.sequence(ph.startPage,ph.endPage)}" class="page-item">
		    	<a class="page-link" href="#">[[${i}]]</a>
		    </li>
		    
		    <li th:if="${ph.next}" class="page-item">
		      <a class="page-link" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		
		</div>
	</th:block>
</th:block>
</html>