<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<h2>Board List Page</h2>
		<div class="container-md">
		
		<!-- search line -->
	<div class="col-sm-12 col-md-6">
	
	</div>
		
		<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">title</th>
				<th scope="col">writer</th>
				<th scope="col">Last Update</th>
				
			</tr>
		</thead>
		<tbody>
			<th:bolck th:each="bvo : ${list}">
				<tr>
					<th >[[${bvo.bno}]]</th>
					<td><a th:href="@{/board/detail(bno=${bvo.bno})}" >[[${bvo.title}]]</a></td>
					<td>[[${bvo.writer}]]</td>
					<td>[[${bvo.modAt}]]</td>
				</tr>
			</th:bolck>
		</tbody>
	</table>
		<!-- 페이지네이션 -->
		
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <li th:if="${pageVo.hasPrev}" class="page-item">
		      <a class="page-link" th:href="@{/board/list(pageNo=${pageVo.startPage-1})}" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    
		    
		    <th:block th:each="i:${#numbers.sequence(pageVo.startPage,pageVo.endPage)}">
		    <li class="page-item " th:classappend="${pageVo.pageNo==i?'active':''}">
		    	<a class="page-link" th:href="@{/board/list(pageNo=${i})}">[[${i}]]</a>
		    </li>
		    </th:block>
		    
		    
		    <li th:if="${pageVo.hasNext}" class="page-item">
		      <a class="page-link" th:href="@{/board/list(pageNo=${pageVo.endPage})}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		
		</div>
	</th:block>
</th:block>
</html>